language: java
jdk:
  - openjdk17

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

before_deploy:
  - zip -r proto-springboot-api
  - mkdir -p deploy
  - mv proto-springboot-api deploy/proto-springboot-api.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: dev-hupark
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    on: all_branches: true

  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: dev-hupark
    key: proto-springboot-api.zip
    bundle_type: zip
    application: dev-hupark
    deployment_group: dev-hupark-group
    region: ap-northeast-2
    on: all_branches: true

notifications:
  email:
    recipients:
      - dev.hupark@gmail.com
