{{>layout/header}}
<h1>Spring boot web service sample (배포 확인 ver)</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/todos/save" role="button" class="btn btn-primary">할일등록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <br/>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>할일</th>
            <th>메모</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        {{#todos}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/todos/update/{{id}}">{{todo}}</a></td>
                <td>{{memo}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/todos}}
        </tbody>
    </table>
</div>
{{>layout/footer}}